.popup__input {
  margin: 0 auto;
  padding-bottom: 13px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.popup__form-field {
  position: relative;
  margin: 54px auto 30px;
  width: 85%;
  max-width: 358px;
}

.popup__form-field:last-of-type {
  margin: 0 auto 40px;
}

.popup__input_error {
  border-bottom: 1px solid #FF0000;
}

.popup__input_error-message {
  position: absolute;
  padding-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
}

.popup__input_error-message-active{
  opacity: 1;
}
