.card__trash-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url(../../../Images/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19px;
  padding: 0;
}

.card__trash-button:hover {
  opacity: 0.5;
  transition: ease 0.2s;
}