.card__like-button {
  background-image: url(../../../Images/Like-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  padding: 0;
  flex-shrink: 0;
}

.card__like-button:hover{
  opacity: 0.5;
  transition: ease 0.2s;
}