.user__profession {
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 879px) {
  .user__profession {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 14px 0 36px;
  }
}

@media screen and (max-width: 400px) {
  .user__profession {
    font-size: 14px;
    line-height: 17px;
  }
}