.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../Images/Close\ Icon.svg);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transform: rotate(45deg);
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: ease 0.2s;
}

@media screen and (max-width: 580px) {
  .popup__close-button {
    right: 0;
    background-size: 26px;
    background-repeat: no-repeat;
  }
}